<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>

<h1>Bookmark Manager</h1>

<ul>
  <% @links.each do |link| %>
    <li id="link-<%= link.id %>">
      <a href="<%= link.url %>" target="_blank">
        <%= link.title %>
      </a>
      <form action="/links/destroy" method="post">
        <input type="hidden" name="id" value="<%= link.id %>">
        <input type="submit" value="Delete">
      </form>
    </li>
  <% end %>
</ul>
