<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>

<h1>Bookmark Manager</h1>

<div class="nav">
  <a href="links/new">
    New Link
  </a>
</div>

<ul>
  <% @links.each do |link| %>
    <li id="link-<%= link.id %>">
      <a href="<%= link.url %>" target="_blank">
        <%= link.title %>
      </a></br>
      <a href="links/<%= link.id %>/edit">
        Edit
      </a>
      <form action="/links/<%= link.id %>/delete" method="post">
        <input type="submit" value="Delete">
      </form>
    </li>
  <% end %>
</ul>
